{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <img src="{{asset("images/media/" ~ post.media)}}" alt="{{post.media}}">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Media</th>
                <td>{{ post.media }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <div>Likes : <span class="badge bg-primary">{{post.likes|length}}</span></div>
    <p>
    {% set break = false %}
    {% for like in post.likes %}
        {% if not break %}
            {% if post.likes|length == 1 %}
                {{like}} Liked this post !
            {% else %}
                {{like}} and {{post.likes|length - 1}} Likes this post !
                {% set break = true %}
            {% endif %}
        {% endif %}
    {% else %}
        No one liked this post yet. Be the first one to like it !        
    {% endfor %}
    </p>

    {% if app.user in post.likes %}
        <a href="{{path('post_like', {'id':post.id})}}">
            <button class="btn btn-danger">Unlike this post</button>
        </a><br>
    {% else %}
        <a href="{{path('post_like', {'id':post.id})}}">
            <button class="btn btn-primary">Like this post</button>
        </a>
    {% endif %}

    <a href="{{path('post_index', {'id':post.id})}}">
        <button class="btn btn-secondary btn-small">Back to list !</button>
    </a>

    {% if app.user is same as(post.author) %}
    <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
    {{ include('post/_delete_form.html.twig') }}
    {% endif %}
    <section class="container comment-section col-6">
        <h3>Comment section <span class="badge bg-secondary">{{post.comments|length}}</span></h3>
        {% for comment in comments %}
            <div class="comment-item">
                <p>@{{comment.author}}</p>
                <p>{{comment.content}}</p>
                <p>{{comment.createdAt|date('d M Y ) H:i')}}</p>

            </div>
        {% endfor %}
        {{form(form)}}

    </section>        

{% endblock %}
